/* .columns > div {
  display: flex;
  flex-direction: column;
} 

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: start;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    /* flex: 1; */
    order: unset;
  }
}*/

.main-lft tr {
    display: block;
    padding: 10px 15px;
    background: #CB177D;
    color: #ffffff;
    font-size: 1.3em;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    line-height: 1em;
}

.main-rtl h1{
  margin: 20px 0 20px 0;
  color: #CB177D;
  font-size:28px;
}

.main-rtl h2{
  margin: 20px 0 20px 0;
  color: #333333;
  font-size:25px;
}

.main-rtl h3{
  color: #6e6e6e;
  font-size:14px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom:20px;
}

.main-lft ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.list1 li a{
  display: block;
  padding: 10px 15px;
  text-decoration:none;
  color: #ffffff;
}

ul.list1 li {
    display: block;
    background: #CB177D;
    font-size: 1.3em;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    line-height: 1em;
}

ul.list1 li a:hover {
   background-color:#fff;
   color:red;
}

.list5 {
	position: relative;
	ul {
		display: none;
		li {
			padding: 10px 15px 10px 30px;
			background: #f4f4f4;
			color: #6e6e6e;
			font-size: 15px;
			text-decoration: none;
			border-bottom: 1px solid #ffffff;
			line-height: 1em;
		}
	}
	li {
		a {
			padding: 0;
			text-decoration: none;
			color: #333;
		}:hover{
			 color: #CB177D;   
		    }
	}
}
.list7 {
	position: relative;
  ul {
    display: none;
    li {
      padding: 10px 15px 10px 30px;
      background: #f4f4f4;
      color: #6e6e6e;
      font-size: 15px;
      text-decoration: none;
      border-bottom: 1px solid #ffffff;
      line-height: 1em;
    }
  }
  li{
    a {
      padding: 0;
      text-decoration: none;
      color: #333;
    }:hover{
	 color: #CB177D;   
    }
  }
}

.list5:before{
	font-family: "Font Awesome 5 Free";
	content: "\f055";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	cursor:pointer;
}

.list5:hover::before{
	color: red !important;
}

.list7:before{
	font-family: "Font Awesome 5 Free";
	content: "\f055";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	cursor:pointer;
}
.main-rtl table{
    width:100%;
    background: #f4f4f4;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.main-rtl table tbody tr td p strong{
    background: #CB177D;
    width: 100%;
    display: flex;
    font-size: 1.6em !important;
    color: #ffffff;
    padding: 10px 20px;
}

.main-rtl table tbody tr td p strong{
    background: #CB177D;
    width: 100%;
    display: flex;
    font-size: 22px !important;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: 500;
}

.main-rtl table tbody tr td h4{
    font-size:14px !important;
    padding: 10px 20px;
    font-weight: normal;
    color: #6e6e6e;
}

.main-rtl table tbody tr td h3{
    font-size:18px !important;
    padding: 10px 20px;
    font-weight: normal;
    margin-top: 0 !important;
}

.main-rtl {
    margin-bottom: 20px;
}

.main-rtl li{
	margin-bottom:10px;
}

.main-rtl ol {
  list-style-type: none;
  margin-left: 0;
  position: relative;
}

.main-rtl ol > li {
  counter-increment: customlistcounter;
  margin-left: 12px;
  margin-bottom: 16px;
}

.main-rtl ol > li:before {
    display: flex;
    text-align: center;
    content: counter(customlistcounter) " ";
    font-weight: bold;
    float: left;
    width: 28px;
    color: #fff;
    height: 28px;
    background: #CB177D;
    border-radius: 50%;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-top: -4px;
    font-size: 15px;
}

.main-rtl ol:first-child {
  counter-reset: customlistcounter;
}
