.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    // flex: 1;
    order: unset;
  }
}

.col-md-3 tr {
    display: block;
    padding: 10px 15px;
    background: #CB177D;
    color: #ffffff;
    font-size: 1.3em;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    line-height: 1em;
}

.col-md-9 h1{
  margin: 20px 0 20px 0;
  color: #CB177D;
  font-size:28px;
}

.col-md-9 h2{
  margin: 20px 0 20px 0;
  color: #333333;
  font-size:25px;
}

.col-md-9 p{
  opacity: 0.7;
}

.col-md-3 ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.test1 li a{
  display: block;
  padding: 10px 15px;
  text-decoration:none;
  color: #ffffff;
}

ul.test1 li {
    display: block;
    background: #CB177D;
    font-size: 1.3em;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    line-height: 1em;
}

.test5 > .test7 > ul{
  display:none;
}

.test5 > .test7 > li a {
    padding: 0;
    text-decoration: none;
    color: #333;
}

.test5 ul li{
  padding: 10px 15px 10px 30px;
    background: #f4f4f4;
    color: #6e6e6e;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    line-height: 1em;
}

.test7 ul li{
  padding: 10px 15px 10px 30px;
    background: #f4f4f4;
    color: #6e6e6e;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    line-height: 1em;
}


