footer {
  padding: 2rem;
  background-color: #595959;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
/* New style */
.footer .default-content-wrapper{
  text-align: center;
}

.footer .default-content-wrapper h2{
  font-size: 18px;
    color: #fff;
    text-align: center;
    transition: all .3s ease;
    border: 0;
    background: #CB177D;
    border-radius: 4px;
    white-space: normal;
    width: 420px;
    display: inline;
    padding: 5px;
}

.footer .default-content-wrapper h2{
  font-size: 18px;
    color: #fff;
    text-align: center;
    transition: all .3s ease;
    border: 0;
    background: #CB177D;
    border-radius: 4px;
    white-space: normal;
    width: 420px;
    display: inline;
    padding: 5px;
}
