footer {
  padding: 2rem;
  background-color: #595959;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
/* New style */
.cards .cards-card-body p {
    cursor: pointer;
}
.footer .default-content-wrapper{
  text-align: center;
  margin-top: 60px;
  display: inline-block;
}

.footer .default-content-wrapper h2{
  font-size: 18px;
    color: #fff;
    text-align: center;
    transition: all .3s ease;
    border: 0;
    background: #CB177D;
    border-radius: 4px;
    white-space: normal;
    width: 420px;
    display: inline;
    padding: 5px;
    text-decoration:underline;
    cursor: pointer;
}

.footer .default-content-wrapper h2:hover {
    color: #ffffff;
    background: #6e6e6e;
    text-decoration:none;
}

.footer .default-content-wrapper h3{
    font-size: 14px;
    color: #fff;
    text-align: center;
}

li.foot-img .cards-card-body {
    margin-top: 55px;
}

.foot-social .cards-card-body {
    display: flex;
    gap: 10px;
}

.foot-social .cards-card-body picture img {
    width: 85%;
    aspect-ratio: unset;
    object-fit: cover;
}
